<h1><%= @user.first_name %> <%= @user.last_name %><h1>
<button class='facebook'><%= link_to 'Facebook', @user.facebook_page %></button>
<h3>Description: <%= @user.description %></h3>
<img src="<%= @user.profile_pic %>">
<h2>From: <%= @user.city %></h2>
<img src="<%= @user.city_pic %>">

