<h1><%= @student[:name] %><h1>
<h3>Description: <%= @student[:description] %></h3>
<img src="<%= @student[:picture_url] %>">
<h2>From: <%= @student[:city] %></h2>
<img src="<%= @student[:hometown_url] %>">